<html>

<head>

  <!-- Favicon -->
  <link rel="icon" href="static/images/logo.png">

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Stylesheet -->
  <link href="../static/css/parkstyle.css" rel="stylesheet">

  <title>parkpic.us</title>

</head>

<body>

<div>

  <!-- Navigation Menu -->
  <div id="menubar">
    <div class="menuspacer">
    </div>
    <div class="logoframe">
        <span class="helper"></span><a href="/"><img class="logo" src="/static/images/logo.png" height=30 /></a>
    </div>
    <div class="menu">
      <a href="/" class="menu">Explore</a>
    </div>
    <div class="menu menuactive">
      <a href="about" class="menu menuactive">About</a>
    </div>
    <div class="menu">
      <a href="contact" class="menu">Contact</a>
    </div>
  </div>

  <!-- The Project -->
  <div>
    <div class="habouts" style="text-align:center;">
      <h1 class="text-muted">About <span style="color: #999966">parkpic</span><span style="color: #FF6600">.us</span></h1>
    </div>
  </div>

  <!-- The Project -->
  <div>
    <div class="habouts">
      <h2 class="text-muted">The Project</h2>
    </div>
    <div class="abouts">
      <p class="text-muted" style="text-align: justify;">
        The majestic landscapes and diverse ecosystems of U.S. National Parks arouse a sense of astonishment and invoke the primitive spirit of our nation. From the stunning geological features of the Grand Canyon to the lush wetlands of the Everglades, these pristine places provide a sanctuary for visitors to escape the connections and complications of modern civilization, wandering briefly in a timeless panorama.
      </p>
      <p class="text-muted" style="text-align: justify;">
        I bet you are going to want to take a picture.
      </p>
      <p class="text-muted" style="text-align: justify;">
        The parkpic.us project transports you to your favorite U.S. National Park and serves as your guide to the best photo scenes within each park. The application navigates through photos taken at the parks using machine learning and sketches park scenes using the content of those photos. By using parkpic.us to plan your next expedition, you will spend less time digging for your map and more time enjoying the scenes around you.
      </p>
    </div>
  </div>

  <!-- The Data -->
  <div>
    <div class="habouts">
      <h2 class="text-muted">The Data</h2>
    </div>
    <div class="abouts">
      <div class="text-muted" style="text-align:left;vertical-align:top;">
        <img style="height:300px;float:right;padding-left:20px;" src="../static/images/parkdata.png">
        <p style="text-align: justify;">
          The data behind the parkpic.us project consists of photographs  of U.S. National Parks shared on Flickr. First, the location coordinates and area of each of the 58 U.S. National Parks were scraped from Wikipedia using the Python module <a href="http://www.crummy.com/software/BeautifulSoup/" class="aboutlink" target="_blank">BeautifulSoup</a> in order to search Flickr for photographs taken within these park areas. The photographs were obtained using the <a href="https://www.flickr.com/services/api/" class="aboutlink" target="_blank">Flickr API</a>, searching at the latitude and longitude of each national park within a radius that was scaled to the area of each park. The geographic coordinates and user tags for each photograph, along with the Flickr user information and photo links, were stored in a MySQL database.
        </p>
        <p style="text-align: justify;">
          Flickr also generates auto-tags for each photograph using image recognition technology to assist in the discovery of new photographs. The auto-tags generated by Flickr are more consistent identifiers of the features within a photograph than tags that are manually entered by its users. However, the auto-tags for each photograph are not available using the Flickr API, and the auto-tags are well hidden behind layers of JavaScript in the source code. For this project, the Flickr auto-tags were scraped by opening each photo page using the headless browser <a href="http://phantomjs.org/" class="aboutlink" target="_blank">PhantomJS</a> and forcing the JavaScript to execute using the browser automation module <a href="http://www.seleniumhq.org/projects/webdriver/" class="aboutlink" target="_blank">Selenium</a>.
        </p>
      </div>
    </div>
  </div>

  <!-- The Application -->
  <div>
    <div class="habouts">
      <h2 class="text-muted">The Application</h2>
    </div>
    <div class="abouts">
      <img style="height:300px;float:right;padding-left:20px;" src="../static/images/clustering.png">
      <p class="text-muted" style="text-align: justify;">
        The best photo scenes within each national park were determined using the clustering algorithm <a href="https://en.wikipedia.org/wiki/DBSCAN" class="aboutlink" target="_blank">DBSCAN</a> (Density-Based Spatial Clustering of Applications with Noise) within the Python <a href="http://scikit-learn.org/stable/" class="aboutlink" target="_blank">scikit-learn</a> package. The advantage of using the DBSCAN algorithm is that it assumes that the points in a cluster are densely grouped and considers points that lie too far outside of the cluster as noise. The DBSCAN algorithm predicts the best photo scenes by identifying high volume photo locations that are popular with Flickr users. The geo-locations of the photographs in the clusters were averaged to find the center locations of each photo scene.
      </p>
      <p class="text-muted" style="text-align: justify;">
        To help visitors decide which of the predicted photo scenes best match their photographic style, the Flickr auto-tags are aggregated and displayed for each photo scene. Each scene is also compared to other scenes in the chosen park using the <a href="https://en.wikipedia.org/wiki/Jaccard_index" class="aboutlink" target="_blank">Jaccard Similarity Index</a>, which provides a metric for determining which scenes contain photos that are similar to each other. The index is calculated as the ratio between the auto-tag similarity (i.e., tags that are shared between photos) to the tag diversity (i.e., those that are unique to a particular scene).
      </p>
      <p class="text-muted" style="text-align: justify;">
        The backend of the application was built using the <a href="http://flask.pocoo.org/" class="aboutlink" target="_blank">Flask</a> microframework and the data was handled using the Python modules <a href="https://github.com/PyMySQL/PyMySQL" class="aboutlink" target="_blank">PyMySQL</a> and <a href="http://pandas.pydata.org/" class="aboutlink" target="_blank">pandas</a>. The user interfaces for the site were constructed using <a href="https://jquery.com/" class="aboutlink" target="_blank">jQuery</a> and the <a href="https://developers.google.com/maps/?hl=en" class="aboutlink" target="_blank">Google Maps API</a>.
      </p>
    </div>
  </div>

  <div>
    <div class="habouts">
      <h2 class="text-muted">Demo Slides</h2>
    </div>
    <div class="abouts">
      <iframe src="//www.slideshare.net/slideshow/embed_code/key/wjQlp41C4cB9cD" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
      <div class="text-muted" style="margin-bottom:5px">
        <strong><a class="aboutlink" href="//www.slideshare.net/MichaelScherrer1/parkpicus-demo-slides" title="Parkpic.us Demo Slides" target="_blank">Parkpic.us Demo Slides</a></strong>
      </div>
    </div>
  </div>


  <!-- Bottom Spacing -->
  <div>
    <div class="habouts">
      <h2 class="text-muted">&nbsp;</h2>
    </div>
  </div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>

</html>
