<html>

<head>

  <!-- Favicon -->
  <link rel="icon" href="static/images/logo.png">

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Stylesheet -->
  <link href="../static/css/parkstyle.css" rel="stylesheet">

  <title>parkpic.us</title>

</head>

<body>

<div>

  <!-- Navigation Menu -->
  <div id="menubar">
    <div class="menuspacer">
    </div>
    <div class="logoframe">
        <span class="helper"></span><a href="/"><img class="logo" src="/static/images/logo.png" height=30 /></a>
    </div>
    <div class="menu">
      <a href="/" class="menu">Explore</a>
    </div>
    <div class="menu menuactive">
      <a href="about" class="menu">About</a>
    </div>
    <div class="menu menuactive">
      <a href="contact" class="menu menuactive">Contact</a>
    </div>
  </div>

  <!-- Contact Image -->
  <div>
    <div class="abouts">
      <div class="contactframe">
        <span class="helper"></span>
        <img id="contactimg" class="contactimg" src="../static/images/contact_blank.png" usemap="#contactmap" hidefocus="true">
        <map id="contactmap" name="contactmap">
          <area id="contactemail" shape="poly" coords="188,72,266,81,275,94,265,107,186,99" href="mailto:michael.p.scherrer@gmail.com" title="Email" alt="Email" target="_blank" />
          <area id="contactresume" shape="poly" coords="105,119,117,107,212,117,210,144,115,133" href="resume" title="Resume" alt="Resume" target="_blank" />
          <area id="contactlinkedin" shape="poly" coords="186,155,287,155,299,168,286,181,186,181" href="https://www.linkedin.com/in/mpscherrer" title="LinkedIn" alt="LinkedIn" target="_blank" />
          <area id="contactgithub" shape="poly" coords="117,211,127,197,214,193,215,219,128,233" href="https://github.com/iicky" title="GitHub" alt="GitHub" target="_blank" />
        </map>
      </div>
    </div>
  </div>

  <!-- Mickey Scherrer -->
  <div class="abouts contacttext">
      <div>
        <h2 class="text-muted">Created by</h2>
      </div>
      <div>
        <h1 class="text-muted" style="color: #ff6600">Michael Scherrer</h1>
      </div>
      <div>
        <h3 class="text-muted">
          as part of
        </h3>
      </div>
      <div style="margin-top:15px;">
        <a href="http://insightdatascience.com/" target="_blank">
          <img src="../static/images/insight_logo_hi-res.png" height="50">
        </a>
      </div>
  </div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../static/js/contactmap.js"></script>

</body>

</html>
