<html>

<head>

  <!-- Favicon -->
  <link rel="icon" href="static/images/logo.png">

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Stylesheet -->
  <link href="../static/css/parkstyle.css" rel="stylesheet">

  <title>parkpic.us</title>

</head>

<body>

<div>

  <!-- Navigation Menu -->
  <div id="menubar">
    <div class="menuspacer">
    </div>
    <div class="logoframe">
        <span class="helper"></span><a href="/"><img class="logo" src="/static/images/logo.png" height=30 /></a>
    </div>
    <div class="menu menuactive">
      <a href="/" class="menu menuactive">Explore</a>
    </div>
    <div class="menu">
      <a href="about" class="menu">About</a>
    </div>
    <div class="menu">
      <a href="contact" class="menu">Contact</a>
    </div>
  </div>

  <!-- Logo and Search Form -->
  <div class="container">
    <div id="frontlogo">
      <img src="static/images/logo.png" style="width:15%">
      <h1 class="text-muted"><span style="color: #999966">parkpic</span><span style="color: #FF6600">.us</span></h1>
    </div>
    <div id="frontquestion">
      <h3 class="text-muted">Which U.S. National Park are you visiting?</h3>
    </div>
    <div id="theresult" class="text-muted">
      {{the_result}}
    </div>
    <form action="/explore" method="get" id="parksearch" name="parksearch">
      <div id="input" class="input" style="text-align:center; vertical-align:middle">
        <input type="hidden" name="eps" value="0.01">
        <input type="hidden" name="min_samples" value="10">
        <input type="hidden" name="show" value="cen">
        <input type="text" autocomplete="off" id="keyword" name="parkname" placeholder="e.g., Big Bend National Park">
        <div class="results" id="results"></div>
      </div>
    </form>
  </div>


</div>

<!-- Autocomplete import -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../static/js/autocomplete.js"></script>

</body>

</html>
